*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

main{
    position: relative;
    height: 100vh;
}

.header{
    position: fixed;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: 35px;
    background: rgb(74, 74, 244);
    color: white;
}

#messages{
    list-style: none;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#messages li{
    background: rgb(4, 4, 101);
    border-radius: 15px;
    color: white;
    padding: 15px;
    font-size: 15px;
    margin: 10px;
}

#form{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

#input{
    width: 100%;
    height: 30px;
    padding: 15px;
    font-size: 25px;
}

.submit{
    background: rgb(47, 47, 109);
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    text-align: center;
}

.submit:hover{
    cursor: pointer;
    background: rgb(123, 123, 209);
}

.form{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px );
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    gap: 20px;
    background: rgb(74, 74, 244);
    border-radius: 20px;
    padding: 30px 20px;
}

.form-label{
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-top: 20px;

}

.form-input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    outline: none;
}

.form-button{
    background: goldenrod;
    color: white;
    border: 0;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.form-button:hover{
    background: gold;
}